<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Liste des Clubs</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Date de Creation</th>
        <th>Student_ID</th>
        <td>Delete</td>
        <td>Modify</td>
    </tr>
    <tr {% for c in club %}>
        <td>{{ c.id }}</td>
        <td>{{ c.CreationDate }}</td>
        <td><a href="{{ path('delete', {'id':c.id}) }}"> Delete</a></td>
        <td><a href="{{ path('modify', {'id':c.id}) }}"> Modify</a></td>

    </tr {% endfor %}>
</table>
<button><a href="{{ path('addClub') }}">Add</a></button>
</body>
</html>